@font-face {
  font-family: 'Roboto';
  src: url(data-base64:~assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(data-base64:~assets/fonts/Roboto-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(data-base64:~assets/fonts/Roboto-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}
